// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;

// 2. Sizes
$base-size:16px;

// 3. Custom Colors
$color-red:#DB2A42;
$color-red-dark:#DD273E;
$color-blue:#9AD5F8;
$color-blue-dark:#017DB0;
$color-orange:#FDB232;
$color-pink:#EB77BC;

$color-heading:#333333;
$color-text:#333333;

$color-pale:#F7F5F5;